body{
    font-family: cursive;
    background: linear-gradient(to left, whitesmoke, bisque);
    text-align: center;
}
h1{
    color: black;
}
#taskInput{
    border-radius: 9px;
    padding: 10px;
    font-size: 16px;
    width: 50%;
    margin-right: 10px;
}
#addTask{
    padding: 10px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#addTask:hover{
    background-color: darkgreen;
}
#taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}
.tasks{
    background-color: white;
    width: 70%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tasks span{
    font-weight: bold;
}
.btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rebeccapurple;
}